<h2>Welcome</h2>
<h1><%= @user.full_name %></h1> 
<h2>your account has been created successfully</h2>

<h5>Click here to login </h5>
<button class="btn btn-info"><%= link_to "Log in", new_session_path %></button>