.body{
  background-color: #eaeaec;
}
.super{
  width: 700px;
  margin:10px auto;
}
.form-group{
  width: 100%;
}
.main-form{
  width: 350px;
  background-color: white;
  padding: 12px;
  margin: 5px auto;
}
.login{
  background-color: #3897f0;
}
.border{
  border-radius: 5px;
  padding: 10px;
}
img{
  max-width: 650px;
}